{% extends "./base.html" %} {%block title%}列表{%endblock%} {%block content%}
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">名称</th>
      <th scope="col">余额</th>
      <th scope="col">类型</th>
      <th scope="col">时间</th>
      <th scope="col">操作</th>
    </tr>
  </thead>
  <tbody>
    {%for m in p.data%}
    <tr>
      <th scope="row">{{ m.id }}</th>
      <td>{{ m.name }}</td>
      <td>{{ m.balance }}</td>
      <td>{{ m.types }}</td>
      <td>{{ m.dateline }}</td>
      <td></td>
    </tr>
    {%endfor%}
  </tbody>
</table>

{% if p.total_page > 0 %}
<nav aria-label="Page navigation example">
  <ul class="pagination">
    {%if p.has_prev()%}
    <li class="page-item">
      <a class="page-link" href="?page={{p.page-1}}">上一页</a>
    </li>
    {%endif%} {%for i in 0..p.total_page%}
    <li class="page-item">
      <a class="page-link" href="?page={{i}}">{{i+1}}</a>
    </li>
    {%endfor%} {%if p.has_next()%}
    <li class="page-item">
      <a class="page-link" href="?page={{p.page+1}}">下一页</a>
    </li>
    {%endif%}
  </ul>
</nav>
{%endif%} {%endblock%}
